<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>AlbumHandling</display-name>
  	<servlet-name>AlbumHandling</servlet-name>
  	<servlet-class>servlets.AlbumHandling</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Ajax</display-name>
  	<servlet-name>Ajax</servlet-name>
  	<servlet-class>servlets.Ajax</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ImageHandling</display-name>
  	<servlet-name>ImageHandling</servlet-name>
  	<servlet-class>servlets.ImageHandling</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Home</display-name>
  	<servlet-name>Home</servlet-name>
  	<servlet-class>servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/Home</url-pattern>
  </servlet-mapping>
</web-app>